body{
	font-family: "Lato", sans-serif;
	padding: 0px;
	margin: 0px;
	margin-top: 5px;
	float:right;
	width: 85%;
	background-color: #666666;
	transition: 0.5s;
}

td{
	padding-left: 10px;
	padding-right: 10px;
}

h4{
	margin: 5px 0 8px 0;
}

button{
	padding: 0;
	margin: 8px 0 8px 0;
	border: none;
	background: none;
	background-color: #666;
}

.pc_topbar{
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 1;
	height: 5px;
	background-color: #FFF;
	transition: 0.5s;
}

.pc_menubutton{
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	z-index: 4;
	width: 1%;
	background-color: #333333;
}


.pc_sidebar{
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	z-index: 3;
	padding-top:30px;
	width: 15%;
	overflow-x: hidden;
	transition: 0.5s;
	background-color: #222222;
}

.pc_sidebar .pc_marker {
	padding: 0;
	margin-top: 10px;
	float: left;
	display: inline;
	height: 20px;
	width: 18px;
	transition: 0.3s;
}

.pc_sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 20px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.pc_sidebar a:hover {
  color: #f1f1f1;
}

.pc_forms_holder{
	
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	background-color: #222222;
	padding-top: 1px;
	padding-right: 5px;
	padding-bottom: 10px;
	padding-left: 5px;
	margin: 10px;
}

.pc_forms{
	flex-basis: 330px;
	flex-grow: 1;
	background-color: #BBB;
	margin-top:10px;
	margin-right:5px;
	margin-left:5px;
	padding-bottom:20px;
	padding:10px;
	padding-left:20px;
	
}

.pc_lists{
	flex-basis: 800px;
	flex-grow: 1;
	background-color: #BBB;
	margin-top:10px;
	margin-right:5px;
	margin-left:5px;
	padding-bottom:20px;
	padding:10px;
	padding-left:20px;
	
}

.pc_center{
	margin-top: 0px;
	margin-bottom: 10px;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	text-align:center;
}

.pc_margin{
	border: 2px solid #777;
	padding: 10px;
}

.pc_evenColor{
	background-color: #666;
}

.pc_oddColor{
	background-color: #888;
}

.pc_magenta{
	background-color: #CC6688;
}

.pc_red{
	background-color: #FF6666;
}

.pc_orange{
	background-color: #CC8866;
}

.pc_yellow{
	background-color: #CCCC66;
}

.pc_lightgreen{
	background-color: #88CC66;
}

.pc_green{
	background-color: #66FF66;
}

.pc_teal{
	background-color: #66CC88;
}

.pc_lightblue{
	background-color: #6688CC;
}

.pc_blue{
	background-color: #6666FF;
}

.pc_purple{
	background-color: #8866CC;
}