:root {
	--magenta:#fb5e92;
	--red:#ff4848;
	--orange:#ffae51;
	--yellow:#fff066;
	--lightgreen:#b6ff62;
	--green:#48ff51;
	--teal:#52ffd4;
	--lightblue:#79a5ff;
	--blue:#3e3eff;
	--purple:#9f72f8;
}

body{
	font-family: "Lato", sans-serif;
	padding: 0px;
	margin: 0px;
	margin-top: 5px;
	float:right;
	width: 85%;
	background-color: #666666;
	transition: 0.5s;
}

td{
	padding-left: 10px;
	padding-right: 10px;
}

h4, h3{
	margin: 20px 0 8px 0;
}

button{
	padding: 0;
	margin: 8px 0 8px 0;
	border: none;
	background: none;
	background-color: #666;
}

.pc_topbar{
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 1;
	height: 5px;
	background-color: #FFF;
	transition: 0.5s;
}

.pc_menubutton{
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	z-index: 4;
	width: 1%;
	background-color: #333333;
}


.pc_sidebar::-webkit-scrollbar{
	display: none;
}

.pc_sidebar{
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	z-index: 3;
	padding-top:30px;
	width: 15%;
	overflow-x: hidden;
	/* hide scrool bars */
	-ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
	transition: 0.5s;
	background-color: #222222;
}

.pc_sidebar .pc_marker {
	padding: 0;
	margin-top: 10px;
	margin-left: 14px;
	float: left;
	display: inline;
	height: 20px;
	width: 6px;
	transition: 0.3s;
}

.pc_sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 20px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.pc_sidebar a:hover {
  color: #f1f1f1;
}

.pc_forms_holder{
	
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	background-color: #222222;
	padding-top: 1px;
	padding-right: 5px;
	padding-bottom: 10px;
	padding-left: 5px;
	margin: 10px;
}

.pc_forms{
	flex-basis: 330px;
	flex-grow: 1;
	background-color: #BBB;
	margin-top:10px;
	margin-right:5px;
	margin-left:5px;
	padding-bottom:20px;
	padding:10px;
	padding-left:20px;
	
}

.pc_lists{
	flex-basis: 800px;
	flex-grow: 1;
	background-color: #BBB;
	margin-top:10px;
	margin-right:5px;
	margin-left:5px;
	padding-bottom:20px;
	padding:10px;
	padding-left:20px;
	
}

.pc_center{
	margin-top: 0px;
	margin-bottom: 10px;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	text-align:center;
}

.pc_margin{
	border: 2px solid #777;
	padding: 10px;
}

.pc_evenColor{
	background-color: #666;
}

.pc_oddColor{
	background-color: #888;
}

.pc_magenta{
	background-color: var(--magenta);
}

.pc_red{
	background-color: var(--red);
}

.pc_orange{
	background-color: var(--orange);
}

.pc_yellow{
	background-color: var(--yellow);
}

.pc_lightgreen{
	background-color: var(--lightgreen);
}

.pc_green{
	background-color:var(--green);
}

.pc_teal{
	background-color:var(--teal);
}

.pc_lightblue{
	background-color: var(--lightblue);
}

.pc_blue{
	background-color: var(--blue);
}

.pc_purple{
	background-color: var(--purple)
	;
}

.pc_magenta_red{
	background: linear-gradient(90deg, var(--magenta) 50%, var(--red) 50%);
}

.pc_red_orange{
	background: linear-gradient(90deg, var(--red) 50%,var(--orange) 50%);
}

.pc_red_yellow{
	background: linear-gradient(90deg, var(--red) 50%, var(--yellow) 50%);
}

.pc_orange_yellow{
	background: linear-gradient(90deg, var(--orange) 50%, var(--yellow) 50%);
}

.pc_yellow_lightgreen{
	background: linear-gradient(90deg, var(--yellow) 50%, var(--lightgreen) 50%);
}

.pc_lightgreen_green{
	background: linear-gradient(90deg, var(--lightgreen) 50%, var(--green) 50%);
}

.pc_red_teal{
	background: linear-gradient(90deg, var(--red) 50%, var(--teal) 50%);
}

.pc_teal_lightblue{
	background: linear-gradient(90deg, var(--teal) 50%, var(--lightblue) 50%);
}
